body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient( to top,#5F272E,#5F272E, #5F272E,#5F272E,#F9CA75) ;
  background-repeat: no-repeat;
  height: 145vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



div .App{
  background-color: #EFE6E6;
  width: 1000px;
  height: auto;
  margin: auto auto auto auto;
  border-radius: 10px;
}

.mugs {
  position: absolute;
  padding-left: auto;
  margin-left: auto;
  width: 10%;
  height: auto;
}


.App .title{
  text-align: center;
  font-family: 'Courgette', cursive;
  font-weight: 800;
  font-size: 300%;
  color: #571D27;
  text-shadow: 0 0 3px #FC823F;
}




.content{
  font-family: 'Sanchez', serif;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  padding: 2.5%;
}

ul li{
  list-style-type: none;
  padding: .5%;
}

.origin{
list-style-type: circle;
text-justify: left;
text-decoration: none;
}

.links{
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: 600;
}

.links:hover {
  font-size: 175%;
  font-style: italic;
}

.cap{
  display: none;
}

.links:hover .cap{
  display: inline;
  width: 3%;
  height: auto;
}